@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    margin:0;
    font-size:1em;
    font-family:'Lato', sans-serif;
    text-align:center;
    color: #999;
}

#wrapper {
    width:800px;
    height:100%;
    margin:10px auto;
}

#header {
    position: absolute;
    top:0px;
    left:0px;
    height:50px;
    width:100%;
    background: #232323;
}

a, a:visited {
    color:#FF5949;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

ul li {
    display:inline;
    margin:0 1.2em;
}

p, td {
    margin:1em 0;
    padding:1em 0;
    color:#555;
}

tr:hover {
    text-decoration: underline;
}