#content {
    position:relative;
    text-align: left;
    top:50px;
}

#content .login {
    position:absolute;
    right: 0px;
    top:-50px;
}

#content table {
    padding:0 5px;
    margin:5px 5px;
    text-align: left;
}

#content table thead tr th, #content table tbody tr td {
    padding:0 5px;
    margin:0 5px;
}

